<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>학생의 감정 상태 예측</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https//kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
  </div>

  <div class="img"></div>
  <div class="center">
    <div class="title">간편한 키워드 입력으로 전문 지식 없이도 누구나</div>
    <div class="sub_title"> 자신의 감정 상태를 빠르게 파악하고 관리할 수 있습니다.</div>
    <div class="btns">
      <form action="/login" method="get">
        <button class="btn btn-swap">로그인 <span>시작하기</span></button>
      </form>
    </div>
  </div>

  <!-- <script src="static/enter_star.js"></script> -->
</body>
</html>